.carousel > button {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 5;
}

.carousel > button:hover {
    opacity: 1;
    transition: opacity 2.4s ease;
}

.carousel ul li button::before {
    font-size: 10px;
    color: rgb(150, 158, 171);
     
}

li.slick-active button:before {
    color: white;
}

.slick-list {
    overflow: initial;
}

.slick-prev {
    left: -75px;
}

.slick-next {
    right: -75px;
}

.wrapper {
    /* border-radius: 4px; */
    cursor: pointer;
    position: relative;
}

.wrapper img {
    /* border-radius: 4px; */
    /* box-shadow: rgb(0 0 0 / 69%) 0 26px 30px -10px, rgb( 0 0 0 / 73%) 0 16px 10px -10px; */
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px;
    width: 100%;
    height: 100%;  
}